.cart-no {
    position:absolute ;
    min-height: 25px;
    min-width:25px;
    border-radius: 50%;
    font-style: 1em;
    background: blue;
    color:white;
    text-align:center;
    top:30px;
    right:32px;

}